.dbisso-managemedia-mb--list {
  letter-spacing: -0.31em;
  /* webkit */

  *letter-spacing: normal;
  /* reset IE < 8 */

  display: block;
  line-height: 0;
  width: 100%;
}
.dbisso-managemedia-mb--list > * {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.dbisso-managemedia-mb--list .string {
  letter-spacing: -0.31em;
  /* webkit */

  *letter-spacing: normal;
  /* IE6/7 reset */

}
.dbisso-managemedia-mb--list .string .opera-only :-o-prefocus,
.dbisso-managemedia-mb--list .string .string {
  word-spacing: -0.43em;
}
.dbisso-managemedia-mb--list .opera-only :-o-prefocus,
.dbisso-managemedia-mb--list .string {
  word-spacing: -0.43em;
}
.dbisso-managemedia-mb--item {
  line-height: 0;
  margin: 0;
}
.dbisso-managemedia-mb--item img {
  line-height: 0;
  margin: 0;
}
.string {
  letter-spacing: -0.31em;
  /* webkit */

  *letter-spacing: normal;
  /* reset IE < 8 */

}
.string > * {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.string .string {
  letter-spacing: -0.31em;
  /* webkit */

  *letter-spacing: normal;
  /* IE6/7 reset */

}
.string .string .opera-only :-o-prefocus,
.string .string .string {
  word-spacing: -0.43em;
}
.string .opera-only :-o-prefocus,
.string .string {
  word-spacing: -0.43em;
}
