#dbisso-manage-media {

}

.dbisso-managemedia-mb--list {
	.string;
	display: block;
	line-height: 0;
	width: 100%;
}

.dbisso-managemedia-mb--item {
	line-height: 0;
	margin: 0;

	img {
		line-height: 0;
		margin: 0;
	}
}

.string {
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */

	> * {
		display: inline-block;
		vertical-align: top;

	    letter-spacing: normal;
	    word-spacing: normal;
	    vertical-align: top;
	}

	.string {
		letter-spacing: -0.31em; /* webkit */
		*letter-spacing: normal; /* IE6/7 reset */

	    .opera-only :-o-prefocus, // Dummy class applies to opera and IE<8
		.string {
			word-spacing: -0.43em;
		}
	}

	.opera-only :-o-prefocus,
	.string {
		word-spacing: -0.43em;
	}
}